@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primaryTextColor: #ffffff;
  --secondaryTextColor: #c0c7ca;

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9;

  --primaryBackgroundColor: #161b22;
  --secondaryBackgroundColor: #7400c100;
  --thirdBackgroundColor: #21262d;
  --fourthBackgroundColor: #0e004a;
  --transparentBackgroundColor: rgb(0, 0, 0, 0.6);

  --primaryColor: #7e74f1;
  --primaryColorHover: #5d51e8;

  --sectionPadding: 6rem 0;
  --itemBorderRadius: 0.7rem;
}

/* General */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem; /* 16px */
  line-height: 1.9rem;
}

span {
  color: var(--primaryTextColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

/* Navigation bar*/
.navbar {
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: var(--primaryColor);
  font-size: 24px;
  transition: 0.3s color;
}

.navbar-brand:hover {
  color: var(--primaryColorHover);
}

.offcanvas {
  border-radius: 16px;
  margin: 20px;
}

.offcanvas-header {
  font-size: 18px;
}

.offcanvas-title {
  font-size: 24px;
  color: var(--primaryColor);
}

.offcanvas-body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-button {
  background-color: var(--primaryColor);
  color: var(--primaryTextColor);
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: var(--primaryColorHover);
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}

.offcanvas-body .navbar-nav .nav-item .nav-link.active {
  color: var(--primaryTextColor);
}

.nav-link:hover,
.nav-link:active {
  color: var(--primaryTextColor);
}

@media (min-width: 992px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--primaryColor);
    visibility: hidden;
    transition: 0.3 ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

/* Hero Section */
.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.typed2 {
  color: var(--primaryColor);
}

.hero-right img {
  width: 60%;
}

.hero-right {
  display: flex;
  justify-content: center;
}

/* Services Section */
#services {
  background-color: var(--primaryBackgroundColor);
  padding: var(--sectionPadding);
}

.services .pre-title {
  margin: 0 auto;
}

.services-title {
  text-align: center;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--secondaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}

.service h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}

.service-icon {
  background-color: var(--primaryTextColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg {
  fill: var(--primaryColor);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* Portofolio Section */
#portofolios {
  padding: var(--sectionPadding);
}

.portofolio {
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
  border: 1px solid var(--borderColor);
}

.portofolio-cover {
  height: 250px;
}

.portofolio-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portofolio-info {
  padding: 2rem 1.5rem;
}

.portofolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.portofolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.portofolio-title a svg:hover {
  fill: var(--primaryIconColor);
}

.portofolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portofolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portofolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--borderColor);
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColor);
}

/* Skills & Education */
#skills {
  padding: var(--sectionPadding);
  background: var(--primaryBackgroundColor);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.education {
  display: flex;
  gap: 2rem;
}

.education .line {
  padding: 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background: var(--lineColor);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-years {
  margin-bottom: 3rem;
}

/* The dot on the line */
.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--lineColor);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.skills-list-ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.skills-right {
  line-height: 2rem;
  padding: 0 1rem;
}

/* Contact Section */
#contact {
  padding: var(--sectionPadding);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: var(--thirdBackgroundColor);
  color: var(--primaryTextColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background: var(--primaryColorHover);
}

.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--lineColor);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item-icon svg {
  fill: var(--primaryColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

/* Footer */
footer {
  padding: 4rem 0;
  background: var(--thirdBackgroundColor);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: var(--primaryTextColor);
}

.footer-icons a:hover svg {
  fill: var(--secondaryTextColor);
}
